# Dependencies
node_modules/

# Testing
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Build output
/dist/

# Environment variables
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
